################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LanguageDetectApp/LanguageDetectApp/bin/ARM/Debug
/LanguageDetectApp/LanguageDetectApp/obj
*.suo
